<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean name="student" class="com.myCode.beanSet.Student">
        <property name="name" value="御承扬"/>
        <property name="age" value="21"/>
        <property name="sex" value="男"/>
    </bean>
    <bean name="agent" class="com.myCode.beanSet.Agent">
        <constructor-arg value="时风"/>
        <constructor-arg value="26"/>
        <constructor-arg value="男"/>
        <constructor-arg value="史兰县"/>
    </bean>
    <bean autowire="byName" id="printAgentInfo" class="com.myCode.beanSet.PrintAgentInfo"/>
</beans>