<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean name="student" class="com.myCode.beanSet.Student">
        <property name="name" value="御承扬"/>
        <property name="age" value="21"/>
        <property name="sex" value="男"/>
    </bean>
    <bean name="agent" class="com.myCode.beanSet.Agent">
        <constructor-arg value="时风"/>
        <constructor-arg value="26"/>
        <constructor-arg value="男"/>
        <constructor-arg value="史兰县"/>
    </bean>
    <bean autowire="byName" id="printAgentInfo" class="com.myCode.beanSet.PrintAgentInfo"/>
    <bean id="user" class="com.myCode.beanSet.UserInfo">
        <property name="name" value="小强"/>
        <property name="age" value="26"/>
        <property name="sex" value="男"/>
        <property name="date" value="1985-02-08 16:20:50"/>
    </bean>
    <bean id="customEditorConfigurer" class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="customEditors">
            <map>
                <entry key="java.util.Date" value="com.myCode.beanSet.MyDateEditor"/>
            </map>
        </property>
    </bean>
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/test?serverTimezone=GMT%2B8"/>
        <property name="username" value="root"/>
        <property name="password" value="root19537"/>
    </bean>
    <bean id="userDAO" class="com.myCode.DAOCode.UserDAO">
        <property name="dataSource" ref="dataSource"/>
    </bean>
</beans>